<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <title>Random Name Generator</title>
</head>

<body>
  <div class="container">

    <h1>Random Name Generator</h1>
    <div class="result"></div>
    <button class="btn btn-primary" id="generate">Get Name</button>
  </div>

  <script src="./app.js"></script>
  <script>
    const resultDiv = document.querySelector(".result");
    const generateBtn = document.querySelector("#generate");
    generateBtn.addEventListener("click", () => {
      loadRandomName(resultDiv);
    });
  </script>
</body>

</html>